
* {
    margin: 2px;
    padding: 2px;
}
.header-container{
    display: flex;
    justify-content: flex-start;
}

.menu-items{
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin-left: auto;
   
}

.menu-items li{
    list-style-type: none;
}
.youtube-icon{
    width: 120px;
    height: 40px;
}
.images{
    width: 40px;
    height: 40px;
}