* {
    margin: 0px;
    padding: 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: 0 2em 0 2em;
}

.menu-items{
    display: flex;
    list-style-type: none;
    li{
    list-style-type: none;
    justify-content: space-evenly;
    
    }
}

.youtube-icon{
  height: 26px;
  object-fit: contain;
}

.images{
    width: 30px;
    height: 30px;
}

.SearchBar{
    height: 26px;
    width: 300px;
}
.search {
    width: 100%;
    display: flex;

  }
  
.searchText {
    width: 100%;
    border: 3px 1px black;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    &:focus{
      color: black;
    }
  }

  
  .searchButton {
    width: 40px;
    height: 36px;
    text-align: center;
    color: black;
    border-radius:0 4px 4px 0  ;
    cursor: pointer;
    font-size: 20px;
  }
  
  .SearchBar{
    width: 40%;
    left: 30%;
  }

  .horline{
    width: 50%;
  }